<?xml version="1.0" encoding="utf-8"?>
<plugin id="com.gperaltap.locationplugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>
		LocationPlugin
	</name>
	<js-module name="LocationPlugin" src="www/LocationPlugin.js">
		<clobbers target="cordova.plugins.LocationPlugin" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="LocationPlugin">
				<param name="android-package" value="com.gperaltap.locationplugin.LocationPlugin" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
			<uses-permission android:name="android.permission.READ_PHONE_STATE" />
			<uses-permission android:name="android.permission.READ_SMS" />
			<uses-permission android:name="android.permission.INTERNET" />
		</config-file>
		<source-file src="src/android/LocationPlugin.java" target-dir="src/com/gperaltap/locationplugin/LocationPlugin" />
		<framework src="build-extras.gradle" custom="true" type="gradleReference" />
	</platform>
</plugin>
